// font color

$primary-color: #50a2de;
$heading-color: #333333;
$body-color: #6B6F77;
$Divider: #D1D5DB;
$white: #ffffff;
$black: #000000;
$light-black: #252729;
$dark-black: #4d4f51;
$bg-color: #f8f8f8;
$light-purple: #acc582;

// Font size

$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;


// Font weight

$fw-bold: bold;

// space
$space-100: 100px;
$space-300: 300px;
$space-64: 64px;
$space-48: 48px;
$space-24: 24px;
$space-16: 16px;
$space-12: 12px;

// Border Radius 
$border-radius-100px: 100px;
$border-radius-8px: 8px;

// Border Tyep
$border-solid: solid; 

// Border Width
$border-width-1: 1px; 
$border-width-6: 6px; 

// Media width 
$max-width-767: 767px;
$max-width-991: 991px;